html {
  background: url(img/bg3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  height: auto;
  text-align: center;
}

.see-thru {
  background-color: rgba(0,0,0, .7);
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
	text-align: center;
	color: #fff;
	font-family: 'Signika', sans-serif;
	font-size: 80px;
  font-weight: 400;
  margin-bottom: 5px;
}

h2 {
  color: rgba(255,255,255,.7);
  text-align: center;
  font-family: 'Signika', sans-serif;
	font-size: 30px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.highlight {
	color: #2296BD;
}

input {
	background-color: transparent;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
	width: 735px;
	margin: 0px;
	padding: 15px;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  margin-top: 2%;
}

input, select, textarea{
    color: #2296BD;
	outline: none;
	border: none;
}

input:focus, textarea:focus, input:hover, textarea:hover {
	border: none;
	outline: #2296BD solid 1px;
  background-color: rgba(0,0,0,.3);
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.5);
}

:-ms-input-placeholder {
   color: rgba(255,255,255,.5);
}

hr {
	width: 750px;
	border: 1px outset #2296BD;
  margin: none;
}

.hr-img {
  border:0;
  height:50px;
  width: 500px;
  margin: 0 auto;
  background-image:url('img/hr.png');
  background-repeat: no-repeat;
  margin-top: 3%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: rgba(255,255,255, .5);
    font-family: 'Open Sans', sans-serif;
  	font-size: 38px;
    border: 2px dashed rgba(255,255,255,.5);
    padding: 150px;
    background:none;
    display:inline-block;
    background-color: rgba(0,0,0,.5);
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 150px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width:100%;
    height: 100%;
    filter: alpha(opacity=0);
}

.fileUpload:hover {
  border: 2px dashed #2296BD;
  background-color: rgba(0,0,0,.6);
}

.imgContainer {
  margin: 0 auto;
}

.imgContainer img{
  max-height: 400px;
}

.img-thumbnail {
	border: 3px solid #2296BD;
  padding: 0px;
}

.fa-clipboard {
  color: rgba(255,255,255, .5);
  font-family: 'Open Sans', sans-serif;
	font-size: 38px;
}

.container {
  margin-top: 3%;
}

/* Tags */


.tag__container {
    list-style-type: none;
    height: 50px;
    min-width: 80px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    background-color: azure;
    border-radius: 4px;
    padding: 10px;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px;
}

.tag__container:hover a.btn.glyphicon.glyphicon-remove-circle{
	opacity: 1;
}

.btn.glyphicon.glyphicon-remove-circle {
    opacity: 0;
    font-size: 1.5em;
    line-height: 1;
    position: absolute;
    /*width: 25%;*/
    padding: 0px;
    text-align: right;
    top: -5px;
    right: -5px;
    text-decoration: none!important;
    transition: opacity 0.3s ease;
}
/*
.btn.glyphicon.glyphicon-remove-circle:hover {
    opacity:1;
}*/

.tags__list-of-tags {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.tags__inputs {
    max-width: 500px;
    overflow: hidden;
}

.tags__inputs input {
	outline: none;
}
.tag-input {
    height: 60px;
    font-size: 26px;
    line-height: 50px;
    font-weight: 300;

}

.tag-text {
	font-size: 18px;
}

.input-and-caption {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.caption-btn {
    margin: 0px 0px;
    height: 100%;
}

.tags__inputs input {
  background-color: transparent;
  border: transparent;
/*  border: 0px solid;
  color: #CCC;*/
}

.hidden {
    display: none;
}

/** Loading **/

.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
