<!DOCTYPE html>
<html lang=en>
  <head>
    <title> AutoCaption </title>
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "AutoCaption/css/style.css" %}">
    <link rel="stylesheet" href="{% static "AutoCaption/css/bootstrap.min.css" %}">

    <!--<link rel="stylesheet" href="{% static "AutoCaption/css/dropzone.css" %}">-->
  </head>
  <body>
  	<h1 class="margin-top-lg"> auto<span class="highlight">Caption</span> </h1>
    <div class="imgContainer">
      <img src="{{ image }}" class="img-responsive img-thumbnail margin-top-sm">
    </div>
    <div class="tags margin-top-sm">
      <ul class="tags__list-of-tags">
      </ul>
      <div class="input-and-caption">
        <form class="tags__inputs">
          <input type="text" autocomplete="off" autocorrect="off" placeholder="Type in a photo tag" autocapitalize="off" spellcheck="false" class="tag-input" id="tag-input-box" required="" autofocus="true">
        </form>
        <button class="btn btn-default caption-btn">Caption!</button>
      </div>
    </div>
    <div class="loading">
    </div>
    <div class="caption hidden">
      <span>This is the caption</span>
    </div>

	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	  <!--<script src="{% static "AutoCaption/js/dropzone.js" %}"></script>-->
  	<script src="{% static "AutoCaption/js/bootstrap.min.js" %}"></script>
    <script src="{% static "AutoCaption/js/tags.js" %}"></script>
  	<!--<script src="{% static "AutoCaption/js/app.js" %}"></script>-->
  </body>
</html>
