<!DOCTYPE html>
<html lang=en>
  <head>
    <title> AutoCaption </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "AutoCaption/css/style.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "AutoCaption/css/dropzone.css" %}">
  </head>
  <body>
  	<h1> AutoCaption </h1>

  	<div id="dropzone">
	  	<form action="/upload"
	      class="dropzone"
	      id="my-awesome-dropzone"></form>
	</div>



	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static "AutoCaption/js/dropzone.js" %}"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	<script src="{% static "AutoCaption/js/app.js" %}"></script>
  </body>
</html>
